{
  "swagger": "2.0",
  "info": {
    "title": "Sample API",
    "contact": {
      "name": "Marco Raddatz",
      "url": "https://www.marcoraddatz.com"
    },
    "version": "1.0"
  },
  "host": "laravel.dev",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Display a listing of the resource.",
        "description": "Return all users",
        "operationId": "finadAllUser",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "User found"
          },
          "401": {
            "description": "Unauthorized action."
          }
        }
      },
      "post": {
        "description": "Creates a new user.  Duplicates are allowed",
        "operationId": "addUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "Pet to add to the store",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Save User Success"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Returns a user based on a single ID",
        "operationId": "findUserByID",
        "produces": [
          "application/json",
          "application/xml",
          "text/html",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of user to fetch",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "user found",
            "schema": {
              "$ref": "#/definitions/Pet"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "Class ApiController",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "Class ApiController",
          "type": "string"
        }
      }
    },
    "User": {}
  }
}